/* Emma Ghost UI */


.emma-card{


position:fixed;


right:25px;

bottom:25px;


width:80px;

height:80px;


border-radius:50%;


z-index:99999;


display:flex;

align-items:center;

justify-content:center;


background:

linear-gradient(
135deg,
#fff4df,
#ffffff
);


box-shadow:

0 15px 40px rgba(0,0,0,.25);


cursor:pointer;


overflow:hidden;


transition:.3s ease;


}





.emma-card:hover{


width:320px;

height:420px;


border-radius:30px;


padding:20px;


overflow:auto;


}







.emma-card h1,
.emma-card h2{


font-size:18px;


}




.emma-section{


background:white;


padding:15px;


border-radius:18px;


margin-top:15px;


box-shadow:

0 5px 20px rgba(0,0,0,.1);


}






.emma-button{


background:#7b35ff;


color:white;


border:none;


padding:12px;


border-radius:15px;


width:100%;


}